/*
 * Title: Gamer website
 * Description: gamer responsive style css
 * Author: abedin wahid
 * Date: 2023/07/19
 *
 */
/* Common styles for all breakpoints */

/* Laptop Monitor */
@media screen and (min-width: 976px) and (max-width: 1390px) {
  .container {
    padding: 0 100px;
  }

  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* main banner */

  .banner-section {
    padding-left: 100px;
  }

  .main-banner .banner {
    padding-right: 100px;
  }

  .banner-section h3 {
    font-size: 1.8rem;
  }

  .banner-section h3 span {
    font-size: 3.6rem;
  }

  .btn-primary {
    font-size: 1.2rem;
    border-radius: 3rem;
    padding: 0.7rem 1.7rem;
  }

  .banner-section .btn-section {
    gap: 1rem;
    margin-top: 1.2rem;
  }

  /* gamer banner */

  .gamer-banner {
    margin-left: 100px;
  }

  .gamer-contant {
    margin-right: 100px;
  }

  .gamer-section > .gamer-contant > h3 {
    font-size: 22px;
  }

  /* collection section style */
  .collection-section {
    padding: 150px 100px;
  }
}

/* Tablet style*/
@media screen and (max-width: 975px) {
  /* Common styles */
  .container {
    padding: 0 70px;
  }

  .header-container {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .banner-box {
    padding-left: 40px;
  }

  .main-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-banner .banner {
    order: 1;
    padding: 0;
    width: 80%;
  }

  .banner-section {
    order: 2;
    padding: 0;
    width: 80%;
    padding: 100px 100px;
    margin: 1.8rem auto;
  }

  .btn-primary {
    font-size: 1.4rem;
  }

  /* gamer section */

  .online-games {
    margin: 0;
  }

  .gamer-section {
    flex-direction: column;
    margin: 0;
    align-items: center;
    gap: 0;
  }

  .gamer-banner {
    width: 100%;
    margin: 0;
    padding: 0 30px;
  }

  .gamer-contant {
    width: 100%;
    margin: 0;
    padding: 10px 50px;
    text-align: center;
  }

  /* online games section */

  .online-games-title h3 {
    font-size: 2rem;
  }

  .online-games-title p {
    font-size: 0.8rem;
  }
  .game-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  /* online play game section  */

  .play-instanly {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
  }

  .play-instanly .play-instanly-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .play-instanly-content h2 {
    text-align: center;
  }

  .play-instanly-banner .child {
    width: 50%;
    position: absolute;
    bottom: -66px;
    left: -80px;
  }

  /* collection-section style*/

  .collection-section {
    padding: 10px 30px;
    gap: 10px;
  }
}

/* Mobile */
@media screen and (max-width: 576px) {
  /* Common styles */
  .container {
    padding: 0 30px;
  }

  .btn-primary {
    font-size: 0.6rem;
    padding: 0.7rem 1.4rem;
  }

  .header-container {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    gap: 1.5rem;
  }

  nav ul {
    flex-direction: column;
  }

  /* Main banner */
  .banner-section {
    padding: 30px;
  }

  .banner-section h3 {
    font-size: 1.6rem;
  }

  .banner-section h3 span {
    font-size: 3.2rem;
  }

  .banner-section p {
    font-size: 12px;
  }

  .banner-section .btn-section {
    margin: 0;
  }

  /* gamer banner */

  .gamer-section > .gamer-contant h2 {
    font-size: 1.75rem;
  }

  .gamer-section > .gamer-contant p {
    font-size: 1rem;
  }

  .gamer-section > .gamer-contant .contant {
    font-size: 0.8rem;
  }

  .gamer-section > .gamer-contant h3 {
    font-size: 1.2rem;
  }

  /* online games section */

  .online-games-title p {
    margin-bottom: 20px;
  }

  .online-games-title h3 {
    font-size: 1.2rem;
  }

  .online-games-title p {
    font-size: 0.5rem;
  }
  .game-cards .card {
    width: 80%;
    margin: 0 auto;
  }

  .game-cards .card p {
    font-size: 12px;
    text-align: center;
  }

  .game-cards {
    grid-template-columns: 1fr;
  }

  /* online play game section  */

  .play-instanly {
    gap: 30px;
  }

  .play-instanly-content h2 {
    font-size: 20px;
  }

  .play-instanly-content p {
    font-size: 10px;
  }

  .play-instanly-banner .child {
    width: 50%;
    position: absolute;
    bottom: -45px;
    left: -45px;
  }

  /* footer style */
  .services ul {
    gap: 40px;
  }

  .terms-condition ul {
    gap: 30px;
  }
}
