/*
 * Title: Gamer website
 * Description: gamer website style css
 * Author: abedin wahid
 * Date: 2023/07/19
 *
 */

/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

/* common style  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  font-family: "Work Sans", sans-serif;
  margin: 0 auto;
}

/* .container {
  margin: 0 180px;
} */

a {
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  border-radius: 3rem;
  padding: 1.2rem 2.5rem;
  border: 0;
  background-color: #ff42a5;
}
/* header style */

header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 180px;
  padding-right: 180px;
}

.header-container .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-container .logo img {
  width: 5rem;
  height: 2.5rem;
}

.header-container .logo h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.header-container .logo h1 span {
  color: #ff42a5;
}

nav ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: #3c354f;
  font-size: 1.1rem;
}

nav ul li .follow-us {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background-color: rgba(11, 2, 35, 0.1);
  padding: 1.1rem 1.5rem;
}

/* main style */
/* main banner */

.main-banner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.banner-section {
  width: 50%;
  background-image: url("../images/Group\ 14.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 100px 180px;
}

.banner-section h3 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.banner-section h3 span {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.banner-section p {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 1.1rem 0;
  color: #534c64;
  font-size: 20px;
}

.banner-section .btn-section {
  display: flex;
  gap: 1.6rem;
  margin-top: 2.5rem;
}

.banner-section .btn-section .btn-go {
  background-color: #4ec5f7;
}

.main-banner .banner {
  width: 50%;
  padding-right: 180px;
  display: flex;
  justify-content: end;
}

.banner img {
  width: 100%;
}

/* gamer section   */
.gamer-section {
  background-color: rgba(255, 66, 165, 0.03);
  display: flex;
  gap: 50px;
}

.gamer-banner {
  margin-left: 180px;
  width: 50%;
  display: flex;
  align-items: center;
}

.gamer-banner img {
  padding: 50px 0;
  width: 100%;
}

.gamer-contant {
  text-align: end;
  width: 50%;
  margin-right: 180px;
  padding: 100px 0;
}

.gamer-section > .gamer-contant h2 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gamer-section > .gamer-contant > .contant {
  color: #534c64;
  font-size: 18px;
  margin: 1.5rem 0;
}

.gamer-section > .gamer-contant > .contant2 {
  color: #534c64;
  font-size: 1.2rem;
  margin: 0.8rem 0;
}
.gamer-section > .gamer-contant > h3 {
  color: #534c64;
  font-family: Work Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

/* online games section */

.online-games {
  margin-top: 5rem;
  padding-left: 180px;
  padding-right: 180px;
}

.online-games-title {
  text-align: center;
}

.online-games-title h3 {
  color: #0b0223;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.online-games-title h3 span {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.online-games-title p {
  color: #534c64;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.game-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
}

.game-cards .card {
  width: 100%;
}

.game-cards .card img {
  width: 100%;
}

.game-cards .card .img {
  position: relative;
  overflow: hidden;
}

.game-cards .card .img .watch-now {
  border-radius: 16px;
  width: 100%;
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d19197a;
  position: absolute;
  left: -100%;
  top: 0;
  transition: 1s ease-in-out;
}

.game-cards > .card:hover .watch-now {
  left: 0;
}

.game-cards .card .img .watch-now p {
  color: #f948b2;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 0px 26px rgba(255, 255, 255, 1);
}

.game-cards .card p {
  margin: 1rem 0;
  color: #534c64;
  font-weight: 600;
}

/* online play game section  */

.play-instanly {
  margin-top: 100px;
  display: flex;
  gap: 200px;
}

.play-instanly .play-instanly-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: end;
  width: 50%;
}

.play-instanly-banner {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 180px;
}

.play-instanly-content h2 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
}

.play-instanly-content h2 span {
  color: #f948b2;
}

.play-instanly-content p {
  color: #534c64;
  font-size: 18px;
  margin: 1.5rem 0;
}

.play-instanly-banner .main {
  width: 100%;
}

.play-instanly-banner .child {
  width: 50%;
  position: absolute;
  bottom: -100px;
  left: -100px;
}

/* collection section style */
.collection-section {
  margin-top: 100px;

  padding: 150px 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}

.collection {
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  border-radius: 50px;
  background-color: #fff;
}

.coll-img img {
  width: 40px;
  height: 40px;
}

.collection .coll-title h4 {
  color: #0b0223;
  font-size: 20px;
}

.collection:hover {
  border: 3px solid #ff42a5;
}

.collection:hover h4 {
  color: #ff42a5;
}

/* footer style */
.footer {
  background-color: #0b0223;
  padding: 100px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a,
p {
  color: #fff;
}

.footer .logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer .logo img {
  width: 5rem;
  height: 2.5rem;
}

.footer .logo h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: #fff;
}

.footer .logo h1 span {
  color: #ff42a5;
}

.services > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin: 50px 0;
}

.services > ul > li > a {
  font-size: 1.1rem;
  font-weight: 600;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.social-links .social-link {
  width: 40px;
  height: 40px;
}

.terms-condition ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  margin-top: 50px;
}

.terms-condition ul li a {
  color: rgba(255, 255, 255, 0.6);
}

.copy-right > p {
  text-align: center;
  margin-top: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
}
